<%= button_to down_vote_vote_path(video.id), remote: true, method: :post do %>
  <% if @video_down_vote_ids.include?(video.id) %>
    <%= fa_icon "thumbs-down lg", class: "ms-2 me-4" %>
  <% else %>
    <%= fa_icon "thumbs-o-down lg", class: "ms-2 me-4" %>
  <% end %>
<% end %>