<%= button_to up_vote_vote_path(video.id), remote: true, method: :post do %>
  <% if @video_up_vote_ids.include?(video.id) %>
    <%= fa_icon "thumbs-up lg", class: "ms-2 me-4" %>
  <% else %>
    <%= fa_icon "thumbs-o-up lg", class: "ms-2 me-4" %>
  <% end %>
<% end %>