<% video_info = video.video_info %>
<div class="lg:col-span-4 md:col-span-8 mb-5">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/<%= video_info.video_id %>"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
</div>
<div class="lg:col-span-4 md:col-span-8 mb-5">
  <div class="font-bold text-lg my-2 text-red-700"><%= video_info.title %></div>
  <div class="text-base my-2">Shared by: <%= video.user_email %></div>
  <% if user_signed_in? %>
    <div class="vote-<%= video.id %> flex">
     <%= render "vote", video: video %>
    </div>
  <% end %>
  <div class="text-base my-2">Description:</div>
  <div class="text-sm my-2"><%= raw video_info.description %></div>
</div>