<%= render "shared/flash_messages" %>
<div class="grid grid-cols-6 gap-4">
  <div class="col-start-2 col-span-4">
    Share a youtube movie

    <div class="box-border p-4 border-4">
      <%= form_for @video, method: :post do |f| %>
        <div class="grid grid-cols-5">
          <div class="col-span-1">
            <%= f.label :url %>
          </div>
          <div class="col-span-4">
            <%= f.url_field :url, autofocus: true, class: "w-full"%>
          </div>
          <div class="col-span-1">
          </div>
          <div class="col-span-4">
            <%= f.submit "Share", class: "mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>