<% flash.each do |type, messages| %>
  <div class="<%= flash_class(type) %> border px-4 py-3 rounded relative mb-5" role="alert">
    <% if messages.is_a? Array %>
      <%= (messages.length > 1) ? error_list(messages) : messages.first %>
    <% elsif messages.is_a? Hash %>
      <ul>
        <% messages.each do |i, line_messages| %>
          <li><%= t 'commons.line_number', line: i %></li>
          <%= error_list line_messages %>
        <% end %>
      </ul>
    <% else %>
      <%= messages %>
    <% end %>
  </div>
<% end %>