<!DOCTYPE html>
<html>
  <head>
    <title>ShareYoutube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5 mt-6">
      <div class="grid grid-cols-3 mb-5 border-b">
        <div class="col-span-1 text-center">
          <%= link_to root_url, class: "flex" do %>
            <%= fa_icon "4x home"%>
            <div style="line-height: 4rem" class="text-3xl">Funny Movie</div>
          <% end %>
        </div>
        <div class="col-span-2 text-right">
          <% if user_signed_in? %>
            <%= current_user.email %>
            <%= link_to "Share a movie", new_video_path, class: "mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
            <%= link_to "Signin", new_user_registration_path, class: "mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
